/venv/
.idea/
*/.idea
.idea/c-gbm.iml
.idea/misc.xml
/__pychache__/
/cyc_gbm/__pycache__/
/numerical_illustration/data/
/notebooks/
.DS_STORE
/scripts/
*.pyc
/dist/
*.egg-info/
/build/
/numerical_illustration/data/
/numerical_illustration/
/scripts/