# Python
__pycache__/
*.pyc
*.egg-info/
/dist/
/build/

# Virtual environments
.venv/
/venv/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Project-specific
/data/
/notebooks/
/scripts/
numerical_illustration_old/

# Testing
.pytest_cache/

# uv
uv.lock
